name: Build Site (Reusable)

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FOR_GH_PAGES: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: website/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: website

      - name: Build Docusaurus site
        run: npm run build
        working-directory: website

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: website/build/
