name: Build and Deploy Site

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    if: github.repository == 'The-AI-Alliance/gofannon'
    uses: ./.github/workflows/build-site-build.yml

  deploy:
    needs: build
    if: github.repository == 'The-AI-Alliance/gofannon'
    uses: ./.github/workflows/build-site-deploy.yml
